body,ul,ol,h1,h2,h3,h4,h5,h6,p,dl,dd,input,textarea{ margin:0; padding:0;}
li{ list-style:none;}
img{ vertical-align:top; border:none;}
a{ text-decoration:none; color:#666;}
input,textarea{ border:none; outline:none; background:none;}
textarea{ resize:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}